.gr{

    &-loading{

        text-align: center;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: bold;
        font-size: 20px;
        color: @gr-c3;
        
    }
    &-spin{
        position: absolute;
        left:50%;
        top:60%;
        transform: translate(-50%,-40%);
    
    }
    &-pagination{
        text-align: right;
        padding:30px;
        background-color: @gr-c3;

        &__number{
            margin-right:20px;
         }
    }
   
}